<h1>My Cocktails</h1>

<div class="cards-cocktails row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="cocktail-card">
        <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path cocktail.photo, height: 160,crop: :fill %>');">
          <h5><%= cocktail.name %></h5>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        <div class="card-bottom">
        <%= link_to "More info", cocktail_path(cocktail), class: "info-link" %>
        <%= link_to cocktail_path(cocktail), method: :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
