<h1>My Cocktails</h1>

<ul class="cocktail-list">
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>

<%=link_to "+ Add a cocktail", cocktails_new_path %>
