<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.jpg') %>);">
  <div class="container">
    <h1>Crée ton propre <strong>Cocktail!</strong></h1>
    <p>Drink alcohol and feel good</p>
  </div>
</div>
