<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner_dose.jpg') %>);">
  <div class="container">
    <h1>Ajoute ton ingrédient fétiche!</h1>
    <p>Et une pincée d'amour</p>
  </div>
</div>
