<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.jpg') %>);">
  <div class="container">
    <h1>Bienvenue au <strong>paradis</strong> du cocktail!</h1>
    <p>
      <span class="banner-typed-text">
        Change your life, learn to drink
      </span>
    </p>
  </div>
</div>
