<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner_edit_description.jpg') %>);">
  <div class="container">
    <h1>Pimpe ta description!</h1>
  </div>
</div>
