<div class="navbar-wagon">
  <%= link_to cocktails_path do %>
    <i class="fas fa-home home-header"></i>
  <% end %>
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-ghost" %>
</div>
