<div class="form">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, input_html: { class: "select2" } %>
    <%= f.input :description %>
    <%= f.submit "add a dose", class: "btn btn-ghost" %>
  <% end %>
</div>

