.cocktail-card {
  background-color: white;
  font-size: 20px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 200px;
  margin: 10px;
}

.card-top {
  height: 160px;
  padding: 10px;
  color: white;
  background-size: cover;
  background-position: center;
}
.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 40px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  a {
    color: #333333;
    font-size: 18px;
  }
  a:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

.card-cocktail {
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cocktail-description {
  flex-grow: 1;
  margin-top: 20px;
  background-color: white;
  height: 300px;
  color: #333333;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top: auto;
  padding-bottom: auto;
  padding: 10px;
  .ingredients-list {
    width: 100%;
    .ingredient {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size:20px;
    }
  }
  h3 {
    color: #333333;
    margin-top: 5px;
    font-size: 24px;
    font-weight: bolder;
  }

}
